{{page-title "Examples"}}

{{! MD-BLOCK }}

# Examples

## Custom

For the custom mode, use [the react online tool](http://danilowoz.com/create-content-loader/).

Convert code to HTMLBars should be strait forward.

## Facebook

{{! MD-BLOCK }}

<p class="py-10">
  <FacebookExample />
</p>

<p>
  <CodeSnippet @name="facebook-example.hbs" />
</p>

{{! MD-BLOCK }}

<br />

## Instagram

{{! MD-BLOCK }}

<p class="py-10">
  <InstagramExample />
</p>

<p>
  <CodeSnippet @name="instagram-example.hbs" />
</p>

{{! MD-BLOCK }}

<br />

## Code

{{! MD-BLOCK }}

<p class="py-10">
  <CodeExample />
</p>

<p>
  <CodeSnippet @name="code-example.hbs" />
</p>

{{! MD-BLOCK }}

<br />

## List

{{! MD-BLOCK }}

<p class="py-10">
  <ListExample />
</p>

<p>
  <CodeSnippet @name="list-example.hbs" />
</p>

{{! MD-BLOCK }}

<br />

## Bullet list

{{! MD-BLOCK }}

<p class="py-10">
  <BulletListExample />
</p>

<p>
  <CodeSnippet @name="bullet-list-example.hbs" />
</p>
