{{page-title "Documentation"}}

<div class="px-4 mx-auto lg:px-6 max-w-screen-2xl">
  <div class="relative lg:flex">
    <SidebarNav />

    <article class="flex-1 w-full min-w-0 px-0 py-12 lg:px-4">
      {{outlet}}
    </article>
  </div>
</div>