<HeroHeader
  @addonName="Content Loader"
  @addonDescription="Easy, customizable skeletons screens"
/>

<div
  class="px-4 py-10 max-w-3xl mx-auto sm:px-6 sm:py-12 lg:max-w-4xl lg:py-16 lg:px-8"
>
  {{! MD-BLOCK }}
  # Introduction

  Ember CLI addon that helps you create content placeholders / skeletons screen with simple SVG-Powered component.
  {{! MD-BLOCK }}
  <br />

  <ComplexExample />

  <p class="my-12">
    Take a look a the
    <LinkTo
      class="no-underline hover:underline text-indigo-600"
      @route="docs.examples"
    >
      source code
    </LinkTo>
  </p>

  <aside class="flex items-center rounded-sm bg-gray-50 p-2">
    <em>
      This addon is provided by &nbsp;
    </em>
    <a href="https://concordnow.com">
      <img
        width="100"
        src="https://www.concordnow.com/wp-content/themes/concord/layoutImg/concord_logo-grey.svg"
        alt="Concord"
      />
    </a>
  </aside>

  <div class="my-12 text-right">
    <LinkTo
      @route="docs"
      class="bg-gray-800 hover:bg-black text-white py-2 px-4 no-underline rounded"
    >
      Read the docs →
    </LinkTo>
  </div>
</div>
