{{docs-hero}}

<div class="container">
  {{#docs-demo as |demo|}}
    {{#demo.example name="content-loader-demo.hbs"}}
      <p>Make sure to read up on the DocsDemo component before building out this page.</p>
    {{/demo.example}}
  {{/docs-demo}}
</div>
